.App {
  text-align: center;

}


.menu-item {
  padding: 0 10px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  /*border: 1px blue solid;*/
  border: none;
}
.menu-item.active {
  border-bottom: 1px #FF843E solid;
  color: #FF843E;
}

.scroll-menu-arrow  {
  padding: 20px;
  cursor: pointer;

}


